body{
    background: #FDF8F1;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
}
header{
    width: 100%;
}
.navbar{
    background: #FFF;
    position: fixed;
    margin:0;
    width: 100%;
    z-index: 10;
}
.navbar .logo{
    float: left;
}
nav ul{
    list-style-type: none;
    padding: 0%;
}
nav ul li a{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-style: normal;
    /* padding: 11px; */
    color: #777676;
}
nav ul .active a{
    color: #FBB03B;
}
.carousel-landing{
    /* position: absolute; */
    width: 100%;
    align-content: center;
    background: #FBB03B;
    font-weight: 800;
}
.carousel-item-landing img{
    float: left;
}
.carousel-text{
    color: #FFFFFF;
}
.btn{
    font-family: 'Nunito', sans-serif;
}
.carousel-landing .btn{
    background-color: #2F2F7C;
    color: #fff;
    font-weight: 800;
}
.container{
    width: 100%;
    height: max-content;
    float: top;
    align-items: center;
    text-align: center;
    padding: 0;
}
/* .section{ */
    /* padding: 100px 8.8%; */
/* } */
.section-product{
    padding-top: 104px;
}
.section-title{
    font-family: 'Nunito';
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    color: #717171;
}
.section-content{
    color: #707070;
}
.product-list{
    display: inline-block;
    width: 100%;
    min-height: fit-content;
    /* min-width: fit-content; */
}
.product-item{
    margin-bottom: 30px;
    width: 100%;
    display: inline-block;
}
.product-item-left{
    /* float: left; */
    text-align: left;
    margin-bottom: 123px;
    /* font-weight: 700; */
}
.product-item-right{
    /* float: right; */
    text-align: right;
    margin-bottom: 123px;
    /* font-weight: 700; */
}
.product-item-left .product-item-title{
    /* text-align: center; */
    padding-left: 40%;
    /* margin-bottom: 30px; */
}
.product-item-right .product-item-title{
    /* text-align: center; */
    padding-right: 40%;
    /* margin-bottom: 30px; */
}
.product-item-left .product-item-img{
    width: 45%;
    /* display: inline-block; */
    float: left;
}
.product-item-right .product-item-img{
    width: 45%;
    /* display: inline-block; */
    float: right;
}
.product-item-img img{
    width: 100%;
}
.product-item-body{
    width: 50%;
    display: inline-block;
}
.product-item-title{
    width: 100%;
    color: #403D3D;
}
.product-item-description{
    width: 100%;
    color: #707070;
}
.section-testimony{
    margin-top: 30px;
    margin-bottom: 130px;
}
.testimony{
    overflow-x: auto;
    white-space: nowrap;
}
.item-testimoni{
    display: inline-block;
    white-space: initial;
    float: none;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.08);
    padding: 16px;
    background-color: #FFFFFF;
}
.media{
    width: 50%;
}
.testimon-img{
    border-radius: 100%;
    float: left;
}
.media-body{
    width: 100%;
}
.media-heading{
    font-weight: 700;
}
.rating{
    display: inline;
    float: right;
    /* height: 32px; */
    width: 50%;
}
.section-clients{
    background-color: #FFFFFF;
    padding-top: 89px;
    padding-bottom: 225px;
    /* border-radius: 20px; */
}
.section-contact{
    background-color: #2F2F7C;
    padding-top: 66px;
    padding-bottom: 94px;
    color: #FFFFFF;
}
.section-contact .section-title{
    margin-bottom: 5px;
    font-size: 42px;
    line-height: 58px;
    font-weight: 800;
    color: #FFFFFF;
}
.section-contact .section-content{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: #FFFFFF;
}
form{
    margin: 20px 14%;
    /* align-items: center; */
    text-align: left;
    /* color: #4C4D4F; */
    font-size: 16px;
    line-height: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    /* padding: auto; */
    /* float: left; */
}
form .input{
    /* display: inline-block; */
    /* float: left; */
    /* width: 45.7%; */
    /* margin: 0 2% 30px 2%; */
    padding: 5px;
}
form input{
    border-radius: 8px;
    width: 100%;
    border: 1px solid #E0E0E0;
    height: 42px;
    color: #403D3D;
}
form textarea{
    border-radius: 8px;
    height: 112px;
    width: 100%;
    border: 1px solid #E0E0E0;
    color: #403D3D;
}
form .btn{
    font-weight: 700;
    background-color: #5DB6F2;

}
footer{
    align-items: center;
    padding: 70px 100px 0;
    font-size: 12px;
    background:#FFFFFF;
}
.foot-col{
    width: 25%;
    padding: 0 70px;
    float: left;
}
.foot-title{
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
    /* display: inline; */
    float: left;
    height: 50px;
    width: 100%;
}
.foot-body{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 27px;
}
.foot-body a{
    color: #666;
}
.footer-icon{
    height: 23px;
    width: 20px;
    /* border-radius: 100%; */
    top: 8.33%;
    left: 8.33%;
    bottom: 8.33%;
    right: 8.33%;

    /* float: left; */
}
.footer-icon-sosmed{
    height: 55px;
    width: 48px;
    /* border-radius: 100%; */
    top: 8.33%;
    left: 8.33%;
    bottom: 8.33%;
    right: 8.33%;
    margin: 0 20px;
    /* float: left; */
    color: #5DB6F2;
}
.reserv{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top:34px;
    padding-bottom:22px;
    text-align:center;
}
@media (min-width:768px){
    body{
        font-size: 20px;
    }
    header{
        /* padding: 2%; */
        /* padding-bottom: 62px; */
        height: 139px;
    }
    .navbar{
        padding: 47px 83px 28px 83px;
        height: 139px;
    }
    .navbar .logo{
        height: 64px;
        width: 202px;
    }
    .nav-button{
        display: none;
    }
    .navbar-nav{
        float: right;
    }
    /* nav ul li{
    } */
    nav ul li a{
        font-size: 18px;
        line-height: 18px;
    }
    .carousel-landing{
        min-height: 926px;
        padding: 249px 10%;
    }
    .carousel-item-landing{
        min-height: 428px;
        
    }
    .carousel-item-landing img{
        width: 566px;
        height: 428px;
        margin-right: 25px;
    }
    .carousel-text{
        line-height: 64px;
    }
    .carousel-text .join{
        font-size: 36px;
        padding-bottom: 5px;
    }
    .carousel-text .market{
        font-size: 64px;
        padding-bottom: 55px;
    }
    .btn{
        font-size: 18px;
        line-height: 18px;
        border-radius: 8px;
    }
    .carousel-landing .btn{
        width: 213px;
        height: 52px;
        padding: auto;
        /* padding: 11px 0 11px 0; */
    }
    .section{
        min-height: fit-content;
        padding-left: 6%;
        padding-right: 6%;
        /* margin-top: 100px; */
        font-weight: 400;
    }
    .section-title{
        margin-bottom: 22px;
        font-size: 42px;
        line-height: 44px;
        font-weight: 800;
    }
    .section-content{
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
        padding-bottom: 101px;;
    }
    .product-list{
        margin: 0;
    }
    .product-item{
        padding: 0 6%;
    }
    .product-item-title{
        font-weight: 800;
        font-size: 28px;
        line-height: 35px;
    }
    .product-item-description{
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        padding: 60px 50px 0;
    }
    /* .product-item img{
        height: 60px;
        width: 60px;
    } */
    /* .testimony{ */
        /* margin: 32px 4% 0; */
    /* } */
    .item-testimoni{
        width: 486px;
        height: 182px;
        margin: 16px 10px;
    }
    .testimon-img{
        height: 64px;
        width: 64px;
        margin-right: 16px;
    }
    .media-heading{
        font-size: 20px;
    }
    .media-content{
        font-size: 16px;
        max-width: 910px;
        /* font-weight: 400; */
    }
    .client-img{
        min-height: 66px;
        min-width: 180px;
        /* border-radius: 20px; */
        /* padding: 20px; */
        margin: 0 20px;
    }
    form .btn{
        width: 160px;
        height: 42px;
    }
}
@media (max-width:767px){
    body{
        font-size: 14px;
    }
    header{
        /* padding: 2%; */
        /* padding-bottom: 32px; */
        height: 80px;
    }
    .navbar{
        padding: 16px 16px 0 16px;
        height: 80px;
    }
    .navbar .logo{
        height: 40px;
        width: 127px;
    }
    .navbar-nav{
        display: block;
        float: left;
        background: #FFFFFF;
        width: 100%;
    }
    /* .nav-button{
        display: none;
    } */
    /* nav ul li{
    } */
    nav ul li a{
        font-size: 16px;
        line-height: 18px;
    }
    .carousel-landing{
        min-height: 173px;
        padding: 43px 60px;
    }
    .carousel-item-landing{
        min-height: 90px;
        
    }
    .carousel-item-landing img{
        width: 155px;
        margin-right: 20px;
    }
    .carousel-text .join{
        font-size: 8px;
        line-height: 11px;
    }
    .carousel-text .market{
        font-size: 12px;
        line-height: 16px;
    }
    .btn{
        font-size: 8px;
        line-height: 11px;
        border-radius: 6px;
        padding: 3px 0 3px 0;
    }
    .carousel-landing .btn{
        padding: 2px 0;
        width: 70px;
        height: 16px;
    }
    .divider-section{
        height: 50px;
    }
    .section{
        min-height: fit-content;
        padding-left: 6%;
        padding-right: 6%;
        /* margin-top: 100px; */
        font-weight: 500;
    }
    .section-title{
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
    }
    .section-content{
        /* font-size: 20px; */
        /* font-weight: 400; */
        line-height: 19px;
    }
    .product-list{
        margin: 20px auto;
    }
    /* .product-item{
        width: 120px;
    } */
    .product-item-title{
        font-weight: 700;
        font-size: 16px;
    }
    .product-item-description{
        font-size: 14px;
        /* font-weight: 700; */
        /* padding-left: 0; */
    }
    /* .product-item img{
        height: 29px;
        width: 29px;
    } */
    .testimony{
        margin: 10px 0 0;
    }
    .item-testimoni{
        width: 288px;
        margin: 10px 2px;
    }
    .testimon-img{
        height: 24px;
        width: 24px;
        margin-right: 8px;
    }
    .media-heading{
        font-size: 12px;
    }
    .media-content{
        font-size: 10px;
        max-width: 110px;
        /* font-weight: 400; */
    }
    .client-img{
        height: 18px;
        width: 52.8px;
        border-radius: 20px;
        /* padding: 20px; */
        margin: 8px;
    }
    form .btn{
        width: 120px;
        height: 32px;
        padding: 7px 0;
    }
    }